<h1>Directions</h1>

<div class="container">
  <h1>Autocomplete</h1>
  <div class="form-group">
    <input placeholder="enter origin" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #searcho [formControl]="searchControl">
    <input placeholder="enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #searchd [formControl]="searchControl">
  </div>
  <button type="button" (click)="getDirection()">Get</button>

  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
  </agm-map>
</div>
